<nav class="navbar navbar-expand-md navbar-dark bg-dark">
	<a class="navbar-brand" routerLink="">123 Phim</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
		aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" routerLink="">Trang Chủ <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/home/danh-sach-phim" >Danh Sách Phim</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/home/tin-tuc" >Tin Tức</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/home/form/dang-ky" >Đăng Ký</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/home/form/dang-nhap" >Đăng Nhập</a>
			</li>
		</ul>
	</div>
</nav>

<router-outlet></router-outlet>
