<div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-item-ghe
        *ngFor="let item of danhSachGhe"
        [ghe]="item"
        (eventDatGhe)="datGhe($event)">
      </app-item-ghe>
    </div>
    <div class="col-sm-6">
      <div class="container">
        <h3>Thông tin đặt vé</h3>
        <table class="table table-dark">
          <thead>
            <tr>
              <th>Số Ghế</th>
              <th>Loại Ghế</th>
              <th>Giá Vé</th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of danhSachGheDangChon; let stt= index">
              <td>Ghế: {{item.TenGhe}}</td>
              <td>Loại: {{item.LoaiGhe}}</td>
              <td>Giá: {{item.GiaVe}}</td>
              <td>
                <a class="btn btn-danger huyChonGhe" (click)="huy(stt,
                  item)">Hủy</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
